#wrapper {
	--theme-color: #fb6964;

	min-height: 100vh;
	display: grid;
	place-items: center;
}

#quote-box {
	background: white;
	color: var(--theme-color);
	padding: 2rem;
	border-radius: 1rem;
	width: 30%;
}

#text {
	font-size: 1.5rem;
	text-align: center;
}

#author {
	float: right;
	margin-top: .5rem;
}

#author::before {
	content: '- ';
}

#buttons {
	margin-top: 3rem;
	display: flex;
	justify-content: space-between;
}

#tweet-quote {
	color: white;
	padding: .35rem;
	display: grid;
	place-items: center;
	border-radius: 7px;
}

#new-quote {
	color: white;
	padding: .2rem .5rem;
	display: grid;
	place-items: center;
	border-radius: 3px;
	border: none;
	cursor: pointer;
	font-size: 0.95rem;
}

.changing {
	background: var(--theme-color);
	transition: background 1s ease-in-out;
}

.changing-color {
	color: var(--theme-color);
	transition: color .5s ease-in-out;
}

.SVG {
	width: 2rem;
}

#quote-svg {
	position: relative;
	top: .5rem;
	margin-right: .4rem;
}

.fade-in {
	opacity: 0;
	transition: opacity 1s ease-in-out;
}

.fade-in-now {
	opacity: 1;
	transition: opacity 1s ease-in-out;
}